<mat-sidenav-container class="app-container">
  <mat-sidenav mode="side" opened *ngIf="isLoggedIn">
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">Dashboard</a>
      <a mat-list-item routerLink="/sobre">Sobre</a>
      <a mat-list-item routerLink="/contato">Contato</a>
      <a mat-list-item (click)="logout()">Sair</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>Angular Auth App</span>
      <span class="spacer"></span>
      <span *ngIf="user$ | async as user">Bem-vindo, {{ user.name }}</span>
    </mat-toolbar>

    <main class="main-content">
      <router-outlet></router-outlet>
    </main>

    <mat-toolbar color="primary" class="footer">
      <span>© 2025 - Todos os direitos reservados</span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
